{{< content }}

<form method="POST" action="{{ form_url }}" class="single">
	<fieldset>
		<label for="username">User name</label>
		<input type="text" name="username">
	</fieldset>

	<fieldset>
		<label for="password-old">Old Password</label>
		<input type="password" name="password-old">
	</fieldset>

	<fieldset>
		<label for="password-new">New Password</label>
		<input type="password" name="password-new">

		<label for="password-new-again">New Password (repeat)</label>
		<input type="password" name="password-new-again">
	</fieldset>

	<input type="submit">
</form>
{{/ content }}

{{> master }}
